@model JobApplicationDetailViewModel

@{
    ViewData["Title"] = $"Detail Application";
}

@if (Model is not null)
{
    <h1>@Model.Position (@Model.CompanyName)</h1>
    <a asp-action="Edit" asp-controller="JobApplication" asp-route-id="@Model.Id">Edit</a>
    <h6>
        <strong>Applied at: </strong>@Model.AppliedAt | <strong>Application status: </strong>@Model.Status
    </h6>
    <hr />
    <br>
    <br>
    <p>
        @Model.Note
    </p>
}
else
{
    <div asp-validation-summary="ModelOnly"></div>
}
