@model List<JobApplicationListViewModel>

@{
    ViewData["Title"] = "Application list";
}

<div class="application-div">
    <table class="application-list-table">
        <tr>
            <th>Company name</th>
            <th>Position</th>
            <th>Status</th>
            <th>Apply Date</th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="5">No job applications available.</td>
            </tr>
        }
        else
        {
            @foreach (JobApplicationListViewModel item in Model)
            {
                <tr>
                    <td>@item.CompanyName</td>
                    <td>@item.Position</td>
                    <td>@item.Status</td>
                    <td>@item.AppliedAt</td>
                    <td><a asp-action="Detail" asp-controller="JobApplication" asp-route-id="@item.Id">View</a></td>
                </tr>
            }
        }
    </table>
</div>
